<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0.1//EN"> <html> <head>
  <title>NecroWeb v0.1</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="GENERATOR" content="Quanta Plus">
  <link>
  <style type="text/css">
  </style>
  <script>
  </script> </head> <body>
  <FORM method="POST" enctype="multipart/form-data">
            Введите номер страницы на world-art <INPUT type="text" name="wa_addr"> <INPUT type="submit" 
value="Вперед!">
  </FORM>
  <hr />
#include "templates/tpl.tmpl"
<hr />
<center>Powered by Necroposter. Copyright non7top (c) 2008 </center>
  </body>
</html>
